---
---

// override theme vars
$link: #ff4500;

// modernist base style
@import "{{ site.theme }}";

// custom css rules
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, serif;
  color: #24292e;
}

// headings
h1, h2, h3, h4, h5, h6 {
  font-family: "Space Grotesk", -apple-system, sans-serif;
  color: #111111;
}

// link hover color
a:hover {
  color: #e03e00;
}
