@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

---
---

// override theme vars
$link: #ff4500;

// modernist base style
@import "{{ site.theme }}";

// custom css rules
body {
  font-family: "Roboto Serif", Georgia, Cambria, "Times New Roman", Times, serif;
  color: #24292e;
}

// headings
h1, h2, h3, h4, h5, h6 {
  font-family: "Space Grotesk", -apple-system, sans-serif;
  color: #111111;
}

// link hover color
a:hover {
  color: #e03e00;
}
